<h1 md-dialog-title>Dialog</h1>
<div md-dialog-content>What would you like to do?</div>
<div md-dialog-actions>
  <form (ngSubmit)="submitSession()" [formGroup]="sessionForm">
    <div class="form-group">
      <md-input-container>
        <input md-input placeholder="Distance" formControlName="distance">
      </md-input-container>
      <!--<p *ngIf="!sessionForm.controls.time.valid">This field is required!</p>-->
      <md-input-container>
        <input md-input placeholder="Time" formControlName="time">
      </md-input-container>
    </div>
    <div class="form-group form-group--button">
      <button md-raised-button type="submit" class="btn btn-primary btn-block">Save session</button>
    </div>
  </form>
</div>


