html, body {
  font-family: "Helvetica Neue";
}
.md-sidenav-content {
  padding:20px;
}
.app-sidenav {
  width:160px;
  float:left;
}
.app-sidenav nav {
  margin-top:20px;
}
.app-sidenav a {
  line-height:40px;
  margin-bottom:1px;
  padding-left:15px;
  display:block;
  color:black;
  text-decoration:none;
}
.app-sidenav a:hover,
.app-sidenav a.active {
  background-color:rgba(0,0,0,.0488);
}

.app-content {
  float:left;
  width:calc(100% - 160px);
  padding: 10px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.btn-login, .btn-logout {
  float:right;
}
