<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Champ Tracker
    <button *ngIf="!user.auth" md-button class="btn-login" (click)="login()">
      Login
    </button>
    <button *ngIf="user.auth" md-button class="btn-logout" (click)="logout()">
      Logout
    </button>
    <div class="user">{{userName}}</div>
    <span class="app-toolbar-filler"></span>
  </md-toolbar>
  <div class="app-content">
    <button md-raised-button class="btn btn-primary btn-block" (click)="openAddSession()">Add session</button>
    <app-sessions [sessions]="sessions | async"></app-sessions>
    <button md-raised-button (click)="deleteAll()">Delete all</button>
  </div>

</md-sidenav-layout>

