<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Champ Tracker

    <span class="app-toolbar-filler"></span>
  </md-toolbar>
  <div class="app-content">
    <button md-raised-button class="btn btn-primary btn-block" (click)="openAddSession()">Add session</button>
    <app-sessions></app-sessions>
    <p>Form value is: {{formValue}}</p>
  </div>

</md-sidenav-layout>

